# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# secrets — NE JAMAIS committer
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os
.DS_Store
*.pem

# typescript
*.tsbuildinfo
